@import "config";
%btn {
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.btn-primary {
  @extend %btn;
  font-weight: 500;
  padding: 15px 30px;
  background-color: $primaryColor;
}