@import "config";
.btn {
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;

  @media (max-width: 1400px) {
    font-size: 18px;
  }
  @media (max-width: 1080px) {
    font-size: 16px;
    padding: 0.5rem 1rem;
  }
}

.btn-primary {
  font-weight: 500;
  background-color: $primaryColor;

  &:hover {
    background-color: lighten($primaryColor, 5%);
  }
}
.btn-outline-light {
  border: 2px solid $primaryColor;

  &:hover {
    background-color: lighten($primaryColor, 5%);
  }
}
.btn-remove {
  color: #fff;
  padding: 3px 5px 1px 6px;
  background-color: $primaryColor;
}
.btn-form {
  padding: 0.5rem 1rem;
}