@import "config";

/* Tags */
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: $segoeUI; 
	text-transform: uppercase;
  overflow-x: hidden;
  max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


/* basic margins & paddings from 1rem to 6rem */
$spaceamounts: (1, 2, 3, 4, 5, 6);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }
  .mx-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }
  .px-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
}

.m-auto {
  margin: auto;
};

/* Containers */
.container {
  max-width: 1400px;
  margin: auto;

  @media screen and (max-width: 1400px) {
    max-width: 800px;
  }
}
.nav-container {
  margin: auto;
  height: 100%;
  padding: 0px 50px;
  position: relative;

  @media screen and (max-width: 1400px) {
    max-width: 100%;
  }
}

/* Colors */
.color-primary {
  color: $primaryColor;
}
.color-primary-light {
  color: lighten($primaryColor, 10%);
}
.color-secondary {
  color: $secondaryColor;
}
.color-secondary-light {
  color: lighten($secondaryColor, 10%);
}
.color-white {
  color: #fff;
}

/* bg-colors */
.bg-primary {
  background-color: $primaryColor;
}
.bg-primary-light {
  background-color: lighten($primaryColor, 10%);
}


/* Fonts */
.font-about {
  font-family: $aboutLove;
}
.font-segoe {
  font-family: $segoeUI;
}
.font-happyland {
  font-family: $happyLand;
}
.font-merriweater {
  font-family: $Merriweather;
}
.font-heading {
  font-size: 36px;

  @media screen and (max-width: 1400px) {
    font-size: 26px;
  }
  @media screen and(max-width: 1080px) {
    font-size: 22px;
  }
  @media screen and(max-width: 768px) {
    font-size: 18px;
  }
}
.font-sub-heading {
  font-size: 32px;

  @media screen and(max-width: 1400px) {
    font-size: 28px;
  }
  @media screen and(max-width: 1080px) {
    font-size: 22px;
  }
}
.font-normal {
  font-size: 18px;

  @media screen and (max-width: 1080px) {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
.font-up-normal {
  font-size: 26px;

  @media screen and (max-width: 1400px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}
.font-sub-normal {
  font-size: 16px;

  @media screen and (max-width: 1400px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 12px;
  }
}
.font-tiny {
  font-size: 14px;

  @media screen and (max-width: 1400px) {
    font-size: 12px;
  }
}

/* font-weight */
.font-bold {
  font-weight: bold;
}
.font-thick {
  font-weight: 700;
}

/* font-style */
.font-italic {
  font-style: italic;
}


/* letter spacing */ 
.letter-space-5 {
  letter-spacing: 5px;
}
.letter-space-3 {
  letter-spacing: 3px;
}


/* Text */
.text-initial {
  text-transform: initial !important;
}


/* Align */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}


/* section spacing */
.section-padding {
  padding-top: 150px;
  margin-top: 50px;
  @media screen and(max-width: 1080px) {
    margin-top: 0;
  }
}


/* Display */
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}
.display-flex {
  display: flex !important;
}

/* others */
.service-icon-size {
  width: 107px;
  height: 107px;
}

.required-input::after {
  content: "*";
  color: $primaryColor;
}

