@import "config";
/* margins & paddings */
$spaceamounts: (1, 2, 3, 4, 5, 6);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
}


/* Colors */
.color-primary {
  color: $primaryColor;
}
.color-primary-light {
  color: lighten($primaryColor, 10%);
}
.color-secondary {
  color: $secondaryColor;
}
.color-secondary-light {
  color: lighten($secondaryColor, 10%);
}


/* Fonts */
.font-about {
  font-family: $aboutLove;
}
.font-segoe {
  font-family: $segoeUI;
}
.font-happyland {
  font-family: $happyLand;
}
.font-merriweater {
  font-family: $Merriweather;
}
.font-heading {
  font-size: 36px;
  padding-bottom: 16px;
}
.font-sub-heading {
  font-size: 32px;
}
.font-normal {
  font-size: 18px;
}
.font-up-normal {
  font-size: 24px;
}
.font-normal-plus {
  font-size: 28px;
}
.font-sub-normal {
  font-size: 16px;
}


/* font-style */
.font-italic {
  font-style: italic;
}


/* letter spacing */ 
.letter-space-5 {
  letter-spacing: 5px;
}


/* Text */
.text-initial {
  text-transform: initial;
}


/* Align */
.align-center {
  text-align: center;
}


/* section spacing */
.section-padding {
  padding: 150px 0px;
}


.service-icon-size {
  width: 107px;
  height: 107px;
}
