@import 'utlities';
@import 'buttons';
@import 'config';


* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: $segoeUI; 
	text-transform: uppercase;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#main-header {
	background-image: url('/src/imgs/home-bg.jpg');   
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 105vh; 

	.main-nav {
		background-color: #fff;
		max-width: 100%;
		position: relative;
		padding: 20px 100px;

		.logo {
			font-family: $aboutLove;
			display: inline-block;
			position: relative;
			bottom: 10px;

			.logo-text {
				font-size: 50px;
				font-weight: 300;
				text-transform: capitalize;
			}
			.logo-subtext {
				font-family: "Segoe UI";
				font-size: 12px;
<<<<<<< HEAD
=======
				font-weight: 500;
>>>>>>> packages section added
				text-transform: uppercase;
				letter-spacing: 7px;
				position: absolute;
				bottom: -8px;
			}
			.sub-right {
				left: 75px;
			}
			.sub-left {
				left: 12px;
			}
		}

		ul {
			display: inline-block;

			li {
				display: inline-block;
			}
			
		}

		.nav-links {
<<<<<<< HEAD
=======
			width: 100%;
>>>>>>> packages section added
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.nav-item {
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 6px;
				padding: 0px 10px;

				a {
					transition: 0.3s all;
					
					&:hover {
						color: $primaryColor;
					}
				}
				.active {
					color: $primaryColor;
				}
			}
		}

		.nav-functions {
			position: absolute;
			top: 50%;
<<<<<<< HEAD
			right: 6%;
=======
			right: 0%;
>>>>>>> packages section added
			transform: translate(-50%, -50%);

			.shopping-cart {
				margin-left: 40px;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: $primaryColor;
					display: block;
					position: absolute;
					right: -5px;
					top: -5px;
				}
			}

			img {
				width: 24px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}


	#main-section {
		max-width: 100%;
    width: 550px;
    position: absolute;
    top: 45%;
    left: 15%;
		
		.main-section_title {
			margin-bottom: 25px;
			font-family: "Happyland Regular";
			text-transform: initial;
			font-weight: 400;
			font-size: 26px;
		}

		.main-section_sub-title {
			padding-top: 25px;
			display: inline-block;
			font-family: "Segoe UI";
			font-size: 36px;
		}
	}

}




#about {
	.container-flex {
		display: flex;
		align-items: center;
		justify-content: center;

		.about-item {
			flex-basis: 250px;
			position: relative;
			height: 200px;
			margin: 0px 5px;
			padding: 10px;
			text-align: center;
			transition: 0.3s all;
			&:hover {
				box-shadow: 0px 2px 19px 1px $secondaryColor;
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 25px;
				left: 92px;
				width: 85px;
				height: 85px;
				background-color: lighten($primaryColor, 10%);
				border-radius: 50%;
			}
			img {
				position: relative;
			}

			p {
				padding-top: 20px;
				letter-spacing: 4px;
				line-height: 1.5;
				font-size: 24px;
				font-family: "Merriweather";
				font-weight: 700;
				text-transform: capitalize;
			}
		}
	}
}



#packages {
	.tags-list {
		.tag {
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			padding: 1rem 2rem;
			border-radius: 2rem;
			letter-spacing: 2px;
<<<<<<< HEAD
			cursor: pointer;	
		}
		.active {
			background-color: lighten($primaryColor, 10%);
=======
			transition: 0.3s;
			cursor: pointer;	
		}
		.active {
			background-color: $primaryColor;
>>>>>>> packages section added
		}
	}

	.bouquets {
		display: grid;
<<<<<<< HEAD
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 35px;
=======
		grid-template-columns: repeat(3, 1fr);
		grid-auto-columns: 300px;
    grid-gap: 35px;
>>>>>>> packages section added
    text-align: center;
    margin: auto;
		width: 1200px;
		
		.bouquet {
<<<<<<< HEAD
			width: 300px;
			margin: auto;
			background-color: #eee;
   		color: $secondaryColor;
=======
			position: relative;
			margin: auto;
			background-color: #eee;
			color: $secondaryColor;
			transition: 0.3s;
>>>>>>> packages section added

			.bouquet-img {
				width: 100%;
			}
			.bouquet-description {
				font-size: 20px;
				font-weight: bold;
				text-transform: capitalize;
			}
<<<<<<< HEAD
=======

			&:hover {
				transform: scale(1.05);
				cursor: pointer
			}
		}
		.on-sale::before {
			content: "SALE";
			color: #fff;
			text-align: center;
			margin-top: auto;
			padding-top: 10px;
			letter-spacing: 3px;
			font-weight: 500;
			display: block;
			position: absolute;
			right: 0;
			width: 25%;
			height: 35px;
			background-color: $primaryColor;
		}
	}

	.packages-btn {
		display: block;
		margin: 4rem auto 0rem auto;
		border-radius: 3px;
		transition: 0.3s;

		&:hover {
			cursor: pointer;
			background-color: $primaryColor;
			
			a {
				color: $secondaryColor;
			}
		}

		a {
			letter-spacing: 3px;
			font-weight: 500;
>>>>>>> packages section added
		}
	}
}

















