@import 'utlities';
@import 'buttons';
@import 'config';
@import '../fonts/AboutLove/stylesheet.css';
@import '../fonts/HappyLand/style.css';
@import '../fonts/Segoe UI/style.css';

/* Land Page & Navigation Styles */
#main-header {
	height: 105vh; 
	width: 100%; 
	
	.landpageImg {
		position: absolute;
		height: 105vh;
		width: 100%;
		object-fit: cover;
	}

	.main-nav {
		background-color: #fff;
		position: relative;
    height: 85px;
    width: 100%;
		z-index: 10;
		transition: 0.3s all;
		/* Logo Styles */
		.logo {
			font-family: $aboutLove;
			display: inline-block;
			position: relative;
			top: 10px;

			.logo-text {
				font-size: 56px;
				font-weight: 300;
				text-transform: capitalize;
			}
			.logo-subtext {
				font-family: "Segoe UI";
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 7px;
				position: absolute;
				bottom: -8px;
			}
			.sub-right {
				left: 85px;
			}
			.sub-left {
				left: 8px;
			}
			/*Media Queries For Logo */
			@media (max-width: 1400px) {
				.logo-text {
					font-size: 42px;
				}
				.logo-subtext {
					font-size: 12px;
					letter-spacing: 3px;
				}
				.sub-left {
					left: 13px;
				}
				.sub-right {
					left: 62px;
				}
			}
			@media (max-width: 1080px) {
				.logo {
					top: 10px;
				}
				.logo-subtext {
					letter-spacing: 3px;
					font-size: 12px;
				}
				.sub-right {
					left: 62px
				}
			}
			@media (max-width: 768px) {
				.logo-text {
					font-size: 36px;
				}
				.logo-subtext {
					font-size: 10px;
					letter-spacing: 3px;
				}
				.sub-left {
					left: 10px;
				}
				.sub-right {
					left: 55px
				}
			}
		}

		ul {
			display: inline-block;

			li {
				display: inline-block;
			}
			
		}

		/* Navigation Links */
		.nav-links {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 0.5s ease-in-out;

			.nav-item {
				font-weight: 500;
				letter-spacing: 6px;
				padding: 0px 10px;

				a {
					transition: 0.3s ease-in-out;
					
					&:hover, &:focus {
						color: $primaryColor;
					}
				}
				.active {
					color: $primaryColor;
				}
			}
			/* media queries for navigation links */
			@media (max-width: 1080px) {
				display: flex;
				flex-direction: column;
				position: absolute;
				margin-top: 150px;
				background: #fff;
				width: 100vw;
				padding: 2rem;
				z-index: 10;
				transform: translate(150%, -50%);
				transition: 0.7s ease-in-out;
				
				.nav-item {
					padding: 10px 10px;
				}

			}
		}
		/* nav links styles on small screens */
		.nav-links.nav-links-mobile {
			transform: translate(-50%, -50%);
			transition: 0.7s ease-in-out;
		}

		/* nav functions (shopping cart & search)*/
		.nav-functions {
			position: absolute;
			top: 50%;
			right: 0%;
			transform: translate(-50px, -50%);

			li {
				border-radius: 50%;
				position: relative;
				transition: background-color 0.3s;
				width: 35px;
				height: 35px;
				&:hover {
					background-color:rgba(238, 104, 104, 0.8);
				}
			}
			.shopping-cart {
				margin-left: 40px;

				&:before {
					content: attr(data-itemsincart);
					width: 20px;
					height: 20px;
					display: block;
					position: absolute;
					right: -7px;
					top: -7px;
					text-align: center;
					color: #fff;
					font-size: 14px;
					border-radius: 50%;
					background-color: $primaryColor;
				}
			}

			img {
				width: 100%;
				height: 24px;
				margin-top: 5px;
				transition: background-color 0.5s;

				&:hover {
					cursor: pointer;
				}
			}
			/* Media Queries For Nav Functions (Searching, Shoppingcart) */
			@media(max-width: 1080px) {
				right: 47%;
    		transform: translate(50%, -50%);
			}
		}

		/* Nav Toggle */
		.nav-toggle-btn {
			position: absolute;
			top: 50%;
			right: 50px;
			width: 40px;
			height: 40px;
			transform: translateY(-50%);
			border: none;
			background: none;
			outline: none;
			cursor: pointer;
			transition: 0.3s ease-in-out;

			.nav-toggle-btn_bar {
				position: absolute;
				width: 100%;
				height: 6px;
				background: $primaryColor;
				display: block;
				border-radius: 3px;
				transition: 0.3s ease-in-out;

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 40px;
					height: 6px;
					background: $primaryColor;
					border-radius: 3px;
					transition: 0.3s ease-in-out;
				}
				&::before {
					top: -10px;
				}
				&::after {
					bottom: -10px;
				}
			}
			@media(min-width: 1080px) {
				display: none;
			}
		}

		#shoppingCartHolder {
			display: none;
			position: absolute;
			top: 80px;
			right: 35px;
			max-height: 400px;
			overflow-y: scroll;
			background: #fff;
			padding: 20px 30px;
			z-index: 15;
			box-shadow: 0px 7px 12px 0px rgba(58,37,17,0.5);

			a {
				width: 95px;
			}

			.shoppingCart-item {
				display: flex;
				position: relative;
				min-width: 250px;
				align-items: center;
				margin: 10px 0px;	

				img {
					margin-right: 10px;
				}
				h5 {
					text-align: left;
					width: 100%;
					position: relative;
					top: -10px;
				}
				p {
					position: absolute;
					bottom: 10px;
					left: 60px;
					text-align: right;
				}
			}
		}
		/* shopping cart when clicked */
		#shoppingCartHolder.display-block {
			display: block;
		}
		/* Media Queries For Main Nav */
		@media (max-width: 1400px) {
			#shoppingCartHolder {
				top: 64px;
			}
		}
		@media (max-width: 1080px) {
			#shoppingCartHolder {
				right: 50%;
				transform: translateX(55%);
			}
		}
		@media (max-width: 768px) {
			#shoppingCartHolder {
				top: 58px;
			}
		}
	}
	/* main nav when user scrolls */
	.nav-scrolled {
		position: fixed;
		box-shadow:5px 0px 10px 2px;
	}
	/* nav bar toggle btn */
	.nav-toggle-btn.toggled {
		.nav-toggle-btn_bar {	
			transform: translateX(-40px);
			background: transparent;
			pointer-events: none;
			&::before {
				transform: rotate(45deg) translate(45px, -30px);
			}
			&::after {
				transform: rotate(-45deg) translate(45px, 30px);
			}
		}
	}
	/* land page main section (contains the headings, button)*/
	#main-section {
		max-width: 100%;
    width: 600px;
    position: absolute;
    top: 35%;
    left: 10%;
		
		.main-section_title {
			font-family: "Happyland Regular";
			text-transform: initial;
			font-weight: 400;
		}

		.main-section_sub-title {
			display: inline-block;
			font-family: "Segoe UI";
			letter-spacing: 3px;
		}
		/* Media Queries For Main Secion */
		@media(max-width: 1080px) {
			left: 5%;
		}
	}

	/* scroll down */
	.scroll-down {
		position: absolute;
    top: 96%;
		left: 50%;
		cursor: pointer;
		
		.scroll-down_text {
			font-size: 12px;
			font-weight: 800;
			letter-spacing: 2px;
			opacity: 0.5;
			position: absolute;
			bottom: 35px;
			left: -12px;
		}

		.scroll-down_svg {
			width: 30px;
		}
		/* media queries for scroll down */
		@media(max-width: 1400px) {
			.scroll-down {
				top: 95%;
			}
			.scroll-down_text {
				font-size: 10px;
			}
			.scroll-down_svg {
				width: 24px;
			}
		}
	}
}


/* About us styles */
#about {
	.container-flex {
		display: flex;
		align-items: center;
		justify-content: center;

		.about-item {
			flex-basis: 250px;
			position: relative;
			height: 200px;
			margin: 0px 5px;
			padding: 10px;
			text-align: center;
			transition: 0.3s ease-in-out;
			&:hover {
				transform: scale(1.05);
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 25px;
				left: 92px;
				width: 85px;
				height: 85px;
				background-color: lighten($primaryColor, 10%);
				border-radius: 50%;
			}
			img {
				position: relative;
			}

			p {
				padding-top: 20px;
				letter-spacing: 4px;
				line-height: 1.5;
				font-size: 24px;
				font-family: "Merriweather";
				font-weight: 700;
				text-transform: capitalize;
			}
			/* media queries for about us */
			@media(max-width: 1400px) {
				&::before {
					left: 57px;
					width: 65px;
					height: 65px;
				}
				img {
					width: 85px;
					height: 85px;
				}
				p {
					font-size: 18px;
				}
			}
			@media(max-width: 768px) {
				flex-basis: auto;
				margin: 0px;

				&::before {
					left: 23px;
				}
				p {
					font-size: 14px;
					letter-spacing: 3px;
				}
			}
		}
		@media(max-width: 768px) {
			flex-direction: column;
			.about-item:nth-child(3)::before {
				left: 38px;
			}
		}
	}
}


/* packages (bouquets) styles */
#packages {
	.tags-list {
		.tag {
			display: inline-block;
			font-weight: 500;
			border-radius: 2rem;
			letter-spacing: 2px;
			transition: 0.3s ease-in-out;
			cursor: pointer;	
		}
		.active {
			background-color: $primaryColor;
		}
		@media(max-width: 1080px) {
			.tag {
				padding: 0.5rem 1rem;
				letter-spacing: 1px;
			}
		}
	}

	.bouquets {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-columns: 300px;
    grid-gap: 35px;
    text-align: center;
    margin: auto;
		width: 1200px;
		
		.bouquet {
			position: relative;
			margin: auto;
			background-color: rgba(230,230,230,0.4);
			color: $secondaryColor;
			transition: 0.3s ease-in-out;

			button {
				display: block;
				background: rgba(238, 104, 104, 0.5);
				color: #fff;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				text-transform: initial;
				transform: translateY(100%);
				opacity: 0;
				pointer-events: none;
				transition: 0.3s ease-in-out;
				font-size: 32px;
			}
			&:hover {
				button {
					transform: translateY(-75%);
					opacity: 1;
					pointer-events: all;
				}
			}

			.bouquet-img {
				width: 100%;
			}
			.bouquet-description {
				font-size: 20px;
				text-transform: capitalize;
			}

			&:hover {
				transform: scale(1.05);
				cursor: pointer
			}
		}
		.on-sale::before {
			content: "SALE";
			color: #fff;
			font-size: 14px;
			text-align: center;
			margin-top: auto;
			padding-top: 9px;
			letter-spacing: 3px;
			font-weight: 500;
			display: block;
			position: absolute;
			right: 0;
			width: 80px;
			height: 35px;
			background-color: $primaryColor;
		}

		@media(max-width: 1080px) {
			width: auto;
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: 768px) {
			.bouquet {
				margin: 0 2rem;
			}
		}
		@media(max-width: 580px) {
			margin: 0rem 3rem;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.packages-btn {
		display: block;
		margin: 4rem auto 0rem auto;
		border-radius: 3px;
		transition: 0.3s ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: $primaryColor;
			
			a {
				color: $secondaryColor;
			}
		}

		a {
			letter-spacing: 3px;
			font-weight: 500;
		}
	}
}


/* contact us styles */
#contact {

	.contact-us {
		position: relative;

		.contact-us_bg {
			width: 100%;
		}
		.contact-us_bg--hover {
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: #fff;
			top: 0;
			left: 0;
			opacity: 0.3;
		}

		.contact-us_text {
			position: absolute;
			top: 30%;
			right: 10%;

			.contact-us_sub-text {
				font-family: "Merriweather";
				font-size: 22px;
				line-height: 1.8;
				font-weight: 500;
			}
		}

		/* media queries for contact us */
		@media(max-width: 1400px) {
			.contact-us_text {
				top: 15%;
				
				.contact-us_sub-text {
					font-size: 18px;
				}
			}
		}
		@media(max-width: 768px) {
			img {
				min-height: 200px;
			}
			.contact-us_text {
				h1 {
					font-size: 16px;
				}
				.contact-us_sub-text {
					font-size: 14px;
					margin-bottom: 1rem;
				}
			}
		}
	}
}


/* Contact us Form styles */
#contactForm {
	height: 600px;
	position: relative;

	form {
    margin: auto;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 20px 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
		height: 500px;
		display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: center;

		div {
			width: 100%;
		}
		
		input {
			width: 50%;
			height: 35px;
			text-align: center;
			border: 1px solid $primaryColor;
			border-radius: 2px;
		}

		select {
			height: 35px;
			width: 46%;
			border: 1px solid $primaryColor;
			border-radius: 2px;
		}

		textarea {
			resize: none;
			padding: 0.5rem;
			border: 1px solid $primaryColor;
			border-radius: 2px;
		}

		@media(max-width: 1080px) {
			max-width: 500px;

			input {
				width: auto;
			}
			select{
				width: 135px;
			}
		}
	}
}


/* subscribe styles */
#wishlist {
	margin-top: 0px;
	min-height: 200px;
	
	.wishlist-wrapper {
		position: relative;
		max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    text-align: center;

		.wishlist-img {
			position: relative;

			img {
				max-width: 400px;
				transform: rotate(-10deg);
			}
			span {
				position: absolute;
				bottom: -60px;
				left: 135px;
				width: 330px;
				height: 330px;
				border: 15px solid #ee6868;
				z-index: -1;
			}
			@media(max-width: 1080px) {
				display: none;
			}
		}
		.wishlist-wrapper_subscribe {
			position: absolute;
			transform: translate(0%, -50%);
			top: 50%;
			left: 55%;

			form {

				.subscribe-form_email {
					padding: 0.9rem 2rem;
					font-size: 18px;
					letter-spacing: 3px;
					border: 2px solid black;
				}
				button {
					margin-left: -4px;
					@media(max-width: 1080px) {
						margin-left: 0px;
						margin-top: auto;
						padding: 1rem 2rem;
					}
				}
			}
			@media(max-width: 1080px) {
				position: absolute;
				transform: none;
				top: 0;
				left: 0%;
				width: 100%;
				h1 {
					text-align: center;
				}
			}
		}
	}
}

/* footer styles */
#footer {

	.footer-container {
		background-color: #333;
    color: #aaa;
		padding: 2rem 0rem;

		a {
			transition: 0.1s ease-in-out;
			&:hover {
				border-bottom: 1px solid #aaa;
			}
		}
		/* footer links */
		.footer-links {
			display: flex;
			padding: 0 2rem 2rem 2rem;
			align-content: center;
			justify-content: space-between;

			ul {
				li {
					letter-spacing: 3px;
					padding: 0.3rem 0;

					a {
						color: #aaa;
					}
				}
			}
			@media(max-width: 768px) {
				flex-direction: column;

				.footer-links_ul-container {
					text-align: center;
					margin-bottom: 2rem;
				}
			}
		}
		/* footer credits */
		.footer-credits {
			border-top: 1px solid #555;
			
			.credits-container {
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				.social-links {

					ul {
						
						li {
							display: inline-block;
							padding-left: 10px;
						}
					}
				}
				@media(max-width: 768px) {
					flex-direction: column;
				}
			}
		}
	}
}













